# Konfigurasi RAG Project (Pustakawan)

# Root direktori dari project yang ingin discan. Default: Current Working Directory
# Biarkan kosong jika ingin otomatis menggunakan direktori tempat terminal berada.
RAG_PROJECT_ROOT=

# Folder letak dokumentasi project Anda yang ingin discan. Default: docs
RAG_DOCS_DIR=docs

# Folder penyimpanan data hasil scanning RAG. Default: .ai/rag
RAG_STORAGE_DIR=.ai/rag

# Konfigurasi Scanner untuk Regex code-parsing. Default: laravel
# File YAML harus ada di dalam folder scanners internal RAG.
RAG_SCANNER=laravel

# Nama file kamus (dictionary) kustom Anda. 
# Jika diisi, tool akan mencari file tersebut di dalam folder RAG_STORAGE_DIR Anda.
# Default: dictionary.yml
RAG_DICTIONARY=dictionary.yml
